<!DOCTYPE html>

<html lang = "en-US">
<meta charset = "UTF-8">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title> Invoice </title>

    <!-- Links the .css file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    
    <div class = "container-fluid">

        <!-- Credit for navbar: https://getbootstrap.com/docs/4.1/components/navbar/-->
        <!-- Credit for navbar: https://getbootstrap.com/docs/4.1/components/navbar/-->
        <nav class = "navbar navbar-expand-md navbar-light fixed-top" id = "header">
            <ul class = "navbar-nav w-100 justify-content-between">
                <li class = "nav-item dropdown">
                    <a class = "nav-link dropdown-toggle" id = "menubutton" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false"> Menu </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class = "dropdown-item" href = "{% url 'adminOrgs' %}"> Organizations </a>
                        <!-- <a class = "dropdown-item" href = "admin_notifications.html"> Notifications </a> -->
                        <a class = "dropdown-item" href = "{% url 'adminReportGeneration'%}"> Generate Reports </a>
                        <!-- <a class = "dropdown-item" href = "admin_view_issues.html"> Issues </a> -->
                        <a class = "dropdown-item" href = "{% url 'logout' %}"> Logout </a>
                    </div>
                </li>

                <li class = "nav-item active">
                    <a class = "nav-link" href = "{% url 'adminDash' %}" id = "title"> Good Driver Incentive Program </a>
                </li>

                <a class = "navbar-brand" href = "{% url 'adminProfile'%}">
                    <img src = "Defaultpfp.png" width = "30" height = "30">
                </a>
            </ul>
        </nav>

        <div class = "row">
            <div class = "col-md-3 text-left">
                <div id = "sidebar">
                    <a id = "back" href = "{% url 'adminReportGeneration'%}"> <i class = "fa fa-arrow-left"></i> Generate Report </a>
                    <h3 class = "text-center" style = "margin-bottom: 5%; margin-top: 2%;"> Invoice </h3>

                    <h4> Select Sponsor(s) </h4>
                    <!-- Source: https://stackoverflow.com/questions/50895806/bootstrap-4-multiselect-dropdown/50897096 -->
                    <form method = "Post" action = "{% url 'getInvoice'%}">
                        {% csrf_token %}
                        <select id = "drivers" name = "org" class = "selectpicker">
                            <option value = "all"> All Sponsors </option>

                            {% for org in listOrgs %}
                                <option value = {{org.id}}>{{org.name}}</option>
                            {% endfor %}
                        </select>

                        <h4> Start Date </h4>
                        <input type = "text" id = "start" name = "startDate" placeholder = "mm/dd/yy" maxlength = "8">
                        <h4> End Date </h4>
                        <input type = "text" id = "end" name = "endDate" placeholder = "mm/dd/yy" maxlength = "8">
                        
                        <button id = "generate"> Generate Report </button>
                    </form>
                    <button id = "download"> Download Report <i class = "fa fa-download"></i> </button>
                </div>
            </div>

            <div class = "col-md-9" id = "preview">
                <p>Date Range: {{startDate}} - {{endDate}}</p>

                {% for org, invoices, totalCost in orgs %}
                    <p>Sponsor: {{org}}</p>
                    <p>Sales:</p>

                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Driver</td>
                            <td>Cost</td>
                        </tr>

                        {% for invoice in invoices %}
                            <tr>
                                <td>{{invoice.date}}</td>
                                <td>{{invoice.driver}}</td>
                                <td>{{invoice.cost}}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td colspan = "4" align = "right">Total Cost: {{totalCost}}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        </div>

    </div>


</body>

</html>