/* Source for box shadows: https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_styles */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
}

body{
    padding-top: 60px;
}

#header{
    background-color: #ACEFFF;
}

#title{
    font-size: 110%;

}

#menubutton{
    color: black;

}

#pagename{
    margin-top: 1%;
}

#pagename{
    font-family: Arial, Helvetica, sans-serif;
    top: -1%;
    left: 2%;
    font-size: 170%;
    position: absolute;
}

#sidebar{
    margin-top: 1.5%;
    position: fixed;
    width: 23.5%;
    height: 95%;
    top: 4%;
    border-right-style: solid;
    border-right-color: #7070707e;
}

#pointstitle{
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
}

#points{
    font-size: 150%;
    text-align: center;
}

#cart{
    color: black;
    font-size: 400%;
}